.table-responsive .table tbody tr td:nth-child(1){
    
}
.table-responsive .table tbody tr td:nth-child(1), .table-responsive .table tbody tr td:nth-child(4), .table-responsive .table tbody tr td:nth-child(5), .table-responsive .table tbody tr td:nth-child(6), .table-responsive .table tbody tr td:nth-child(7), .table-responsive .table tbody tr td:nth-child(8), .table-responsive .table tbody tr td:nth-child(9){
    max-width:inherit !important;
}
table tbody tr td:nth-child(1) {
    padding-left: 5px;
}
table tbody tr td{
    padding-left: 5px;
    padding-right: 5px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 8px;
}
.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
    white-space: nowrap;
}
.table>tbody>tr>th{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.breadcrumb span button{
    margin-top: -7px
}