/*
* @Author: Marte
* @Date:   2019-07-18 11:00:04
* @Last Modified by:   Marte
* @Last Modified time: 2019-07-18 13:57:27
*/
.coupon-dialog{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.5);display:none;}
.coupon-dialog .coupon-div{width:100%;height:100%;display:flex;justify-content:center;align-items: center;flex-direction:column;}
.coupon-div .table{width:1200px;background:#fff;overflow-y: scroll;margin-bottom:0;}
input{
    outline: none;
}
input:focus{
    outline: none;
}
.caozuo{width:1200px;padding-top:20px;padding-bottom:20px;display: flex;justify-content:center;align-item: center;background:#fff;}
.caozuo button{
    margin-right:20px;
    min-width: 92px;
    outline:none;
}