/*
* @Author: Marte
* @Date:   2019-07-18 11:00:04
* @Last Modified by:   Marte
* @Last Modified time: 2019-07-25 16:25:11
*/
#div2{min-height:500px;border:1px solid #ccc;}
.operate-box{margin-top: 20px;}
.btn{min-width: 82px}